section.cart-product {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4);
    padding: 8px 4px;
}


/*Title*/
section.cart-product p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 10px;
}

/*Image*/
section.cart-product img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;

}

/*Price*/
section.cart-product p:last-child {
    justify-content: end;
    margin: 0;
    width: 75px;
}

section.cart-product > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.4em;
}

section.cart-product div p {
    margin: 2px;
}

.cart-product .button-increment, .cart-product .button-decrement {
    font-size: 1.2em;
    width: 1.2em;
    height: 1.2em;
    border: transparent;
    border-radius: 50%;
    background-color: #b7b7b7;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

section.cart-product div .middle{
    text-align: center;
    width: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.middle button.button-remove{
    border: transparent;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    background-color: #b7b7b7;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
}
