header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background: hsl(200, 80%, 45%);
    height: 65px;
    border-bottom: 2px black solid;
}

header nav{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

header nav div {
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px black solid;
    border-left: 1px black solid;
    text-transform: uppercase;
}

nav a{
    font-size: 1rem;
    text-decoration: transparent;
    color: black;
}

header nav div:hover {
    background: hsl(200, 80%, 60%);
}