@import "css/reset.css";

body {
    margin: 0 auto;
    font-family: 'Comfortaa', cursive, sans-serif;
    background-color: #f6f6f6;
    /*background-color: darkcyan;*/
}

.store-main-container{
    display: grid;
    grid-template-columns: 0.5fr 5fr;
}
